<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-logcat" version="0.1.0">
    <name>Cordova Logcat Filelogger</name>
    <description>---</description>
    <author>Michael Jedich</author>
    <license>Apache Version 2.0</license>
    <!-- cordova -->
    <engines>
        <engine name="cordova" version=">=5.0.0"/>
    </engines>
    <!-- js -->
    <js-module src="www/LogCatPlugin.js" name="LogCatPlugin">
        <clobbers target="cordova.plugins.LogCatPlugin"/>
    </js-module>
    <!-- android -->
    <platform name="android">
        <framework src="com.android.support:support-v4:+" />
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="LogCatPlugin">
                <param name="android-package" value="de.mj.cordova.plugin.filelogger.LogCatPlugin"/>
            </feature>
        </config-file>
        <source-file src="src/android/BashExecutor.java" target-dir="src/de/mj/cordova/plugin/filelogger"/>
        <source-file src="src/android/BashExecutorEventHandler.java" target-dir="src/de/mj/cordova/plugin/filelogger"/>
        <source-file src="src/android/FileTools.java" target-dir="src/de/mj/cordova/plugin/filelogger"/>
        <source-file src="src/android/JsFileWriter.java" target-dir="src/de/mj/cordova/plugin/filelogger"/>
        <source-file src="src/android/LcFileWriter.java" target-dir="src/de/mj/cordova/plugin/filelogger"/>
        <source-file src="src/android/LogCatPlugin.java" target-dir="src/de/mj/cordova/plugin/filelogger"/>
        <source-file src="src/android/LogEntry.java" target-dir="src/de/mj/cordova/plugin/filelogger"/>
        <source-file src="src/android/LogFileReader.java" target-dir="src/de/mj/cordova/plugin/filelogger"/>
        <source-file src="src/android/Queue.java" target-dir="src/de/mj/cordova/plugin/filelogger"/>
        <source-file src="src/android/QueueMonitor.java" target-dir="src/de/mj/cordova/plugin/filelogger"/>
        <source-file src="src/android/Zipper.java" target-dir="src/de/mj/cordova/plugin/filelogger"/>
        <source-file src="src/android/org/apache/commons/io/Charsets.java" target-dir="src/de/mj/cordova/plugin/filelogger/org/apache/commons/io"/>
        <source-file src="src/android/org/apache/commons/io/input/ReversedLinesFileReader.java" target-dir="src/de/mj/cordova/plugin/filelogger/org/apache/commons/io/input"/>
    </platform>
</plugin>
